@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #b03060, #800020, #b03060);
    width: 100%;
    position: fixed;
    padding-left: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 1500;
}

nav img {
    height: 60px;
}

nav ul {
    display: inline-flex;
    gap: 20px;

}

nav #menu-btn {
    display: none;


}

nav ul li {
    list-style: none;
    font-size: 20px;
    color: #fff;
    position: relative;
}

nav ul li.active::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -20%;
    left: 0;
}

nav a {
    margin-right: 20px;
}

.slider {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    height: 500px;
    /* margin: auto; */
    overflow: hidden;
    border-radius: 10px;
    z-index: 1000;
}

.slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Caption */
.caption-02,
.caption-03 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.caption-01 {
    position: absolute;
    top: 20%;
    left: 25%;
    color: #fff;
    font-weight: 600;
    font-size: 80px;
    background:rgba(176, 48, 95, 0.4);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: "Great Vibes";
}

.caption-01 a{
    text-decoration: none;
    font-size: 30px;
    background-color: #fff;
    color: #800020;
    padding: 3px 5px;
    border-radius: 20px;
    cursor: pointer;
    transition:  0.2s ease-in-out;
}

.caption-01 a:hover{
    background-color: #800020;
    color: #fff;
}

/* Dots */
.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    margin: 5px;
    border-radius: 50%;
}

.dots .active {
    background: #800020;
}

.login {
    padding: 5px 8px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #800020;
}

.sidebar {
    position: fixed;
    background-color: #b03060;
    top: 5%;
    height: 70%;
    width: 300px;
    right: 0;
    transform: translateX(100%);
    /* hide */
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    z-index: 2000;
    transition: 0.4s ease;
}

.sidebar.active {
    transform: translateX(-40%);
}

#menu-btn,
#close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.sidebar ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 25px;
    color: #fff;
    border-bottom: 2px solid #fff;

}

.program {
    width: 100%;
    /* margin-left: 50px;
    margin-right: 50px; */
}

.program h1,
.value h1 {
    text-align: center;
    color: #800020;
}

.feat {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 10px;
    margin: auto;
    width: 90%;
    text-align: center;
    /* margin-right: 50px; */
}

.feat-01 {
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.feat-01 img {
    height: 100px;
    width: auto;
}

.feat-01 h1 {
    font-size: 20px;

}

.feat-01 h2 {
    font-size: 12px;
    font-weight: 300;
}

.ant {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.ant h1 {
    text-align: center;
    color: #800020;
}

.stanza {
    border: 2px solid #b03060;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.coming {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.news {
    margin-right: 150px;
}

.first {
    background-color: #b03060;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 10px 10px;

}

.first h3,
.first h4,
.first p {
    padding-left: 20px;
    font-weight: 500;
    color: #fff;
}

/* Align items properly */
.list {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Background ONLY on h5 */
.list h5 {
    background-color: #b03060;
    color: #fff;
    margin: 0;
    padding: 4px 10px;
    text-align: center;
}

/* Normal text */
.list p {
    margin: 0;
}

.prefect {
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.prefect h2 {
    text-align: center;
    color: #b03060;
}

.sect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile {
    display: flex;
    align-items: center;
    border: 3px solid #b03060;
    border-radius: 10px;
    position: relative;
    max-width: 400px;
    gap: 30px;
    z-index: 50;

}

.profile img {
    width: 80px;
    height: 80px;
    border: 2px solid #b03060;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    /* KEY LINE */
    z-index: 100;
    background: #fff;
}



.profile table {
    border-collapse: collapse;
    margin-left: 20px;
}

.profile table td {
    padding: 5px 10px;
    vertical-align: middle;
    /* keeps table text centered */
}

footer {
    margin-top: 20px;
    background: linear-gradient(to right, #b03060, #800020, #b03060);
    border-radius: 10px;
    justify-content: center;

}

.emblem {
    display: flex;
    justify-content: space-around;
    color: #fff;

}

.emblem img {
    height: 80px;
    padding: 5px 10px;
    border-bottom: 1px solid #999;
}

.emblem span {
    margin-right: 10px;
}

.emblem h2{
    color: #fff;
}

.copy p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    padding: 20px 10px ;
}

@media screen and (max-width: 768px) {

    nav ul,
    nav .login {
        display: none;
    }

    nav #menu-btn {
        display: block !important;
        font-size: 24px;
        cursor: pointer;
        margin-right: 55px;

    }

    .caption-01 {
        position: absolute;
        font-size: 40px;
        left: 20%;
        top: 40%;
    }

    .feat {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        align-items: center;
    }


    .ant h1 {
        color: #800020;

    }

    .stanza {
        border: 2px solid #b03060;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .coming {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;

    }

    .sect {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .emblem {
        display: flex;
        flex-direction: column;

    }

    .emblem p {
        padding-left: 25px;
        padding-right: 20px;
    }

}